.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.5s;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
	&.active {
		opacity: 1;
		pointer-events: all;
		z-index: 3;
	}
}
.modal {
	position: fixed;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	width: 500px;
	padding: 20px 20px 24px;
	flex-direction: column;
	background: $color-paper;
	z-index: 3;
	&#modalCreateTask.active {
		animation: 0.8s bounceInDown;
		top: 50vh;
		z-index: 5;
	}
	&#modalChangeTask.active {
		animation: 0.8s bounceInLeft;
		top: 50vh;
		z-index: 5;
	}
	&#modalDeleteTask.active {
		animation: 0.8s bounceInRight;
		top: 50vh;
		z-index: 5;
	}

	&__title {
		font-size: 20px;
		line-height: 27px;
	}
	&__close-btn {
		position: absolute;
		padding: 22px 25px;
		top: 0;
		right: 0;
	}
	&__close-icon {
		pointer-events: none;
		transition: all 0.3s;
	}
	&__close-btn:hover {
		color: $color-red;
	}
	&__close-btn:hover > &__close-icon {
		transform: rotate(180deg);
	}
	&__form {
		display: flex;
		flex-direction: column;
	}

	&__input,
	&__textarea {
		display: block;
		padding: 9px 15px;
		background: #ffffff;
		border: 1px solid #5f81b2;
		box-sizing: border-box;
		border-radius: 4px;
		font-size: 16px;
		line-height: 22px;
		&::placeholder {
			font-size: 16px;
			line-height: 22px;
		}
	}
	&__input {
		margin-top: 14px;
	}
	&__textarea {
		margin-top: 17px;
		min-height: 100px;
		max-height: 200px;
		resize: vertical;
	}
	&__alert-message {
		display: none;
		margin-top: 10px;
		font-weight: 900;
		font-size: 14px;
		line-height: 16px;
		color: $color-red;
		&.active {
			display: block;
		}
	}
	&__btn {
		margin-top: 10px;
		width: 100%;
		padding: 9px 15px;
		font-size: 16px;
		line-height: 22px;
		color: #ffffff;
		border-radius: 4px;
		transition: all 0.3s;
	}
	&__btn:hover {
		opacity: 0.8;
	}
	&__btn:active {
		opacity: 1;
	}

	&__btn--save {
		background: $color-blue;
	}

	&__btn--cancel {
		background: $color-gray;
	}
	&__btn--delete {
		background: $color-red;
	}
	&__btn--change {
		background: $color-green;
	}
}

@media screen and (max-width: 768px) {
	.modal {
		width: calc(100% - 64px);
	}
}
