@font-face {
	font-family: "Nunito";
	src: url("../fonts/NunitoSans-Regular.eot");
	src: local("../fonts/Nunito Sans Regular"), local("../fonts/NunitoSans-Regular"), url("../fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("../fonts/NunitoSans-SemiBold.eot");
	src: local("../fonts/Nunito Sans SemiBold"), local("../fonts/NunitoSans-SemiBold"), url("../fonts/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-SemiBold.woff") format("woff"), url("../fonts/NunitoSans-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("../fonts/NunitoSans-Black.eot");
	src: local("../fonts/Nunito Sans Black"), local("NunitoSans-Black"), url("../fonts/NunitoSans-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Black.woff") format("woff"), url("../fonts/NunitoSans-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
